body {
    background: #04a997;
    background: -moz-linear-gradient(top,  #04a997 0%, #694cc5 100%);
    background: -webkit-linear-gradient(top,  #04a997 0%,#694cc5 100%);
    background: linear-gradient(to bottom,  #04a997 0%,#694cc5 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#04a997', endColorstr='#694cc5',GradientType=0 );
    background-size: 100%;
    background-repeat: repeat-x;
    background-color: #694cc5;
}
